
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');



/* Variables*/
:root {
  --dark: rgb(58, 28, 64, 0.9);
  --light: rgb(242, 238, 255);
  --darkHeadFoot: rgba(84, 34, 99, 0.795);
}

/* body */
body {
  margin: 0px;
  height: 100vh;
  background-image: url("assets/desature.jpg");
  background-position: center;
  background-repeat: repeat-y;
  font-family: sans-serif;
}


/*=========Style header ==========*/


header {
  display: flex;
  background-color: var(--darkHeadFoot);
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}

.logo {
  width: 9.3rem;
  margin-left: 10px;
}

.teamJupiter {
  font-size: 4rem;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
}

/* =============Main section in index.html========== */


.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: var(--light);
  border-radius: 5px;
}

.promoTitre{
  text-align: center;
  font-size: 2.5rem;
  color: var(--dark);
  font-family: 'Karla', sans-serif;
}

.photo_groupe {
  width: 70%;
  min-width: 250px;
  max-width: 820px;
  margin-top: 10px;
  border-radius: 5px;
}

.presentation {
  text-align: justify;
  margin: 25px 15px 30px 15px;
  padding: 10px;
  border-radius: 20px;
}

.wildCodeSchool{
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
}

.bouton_purple {
  font-weight: bold;
  background: var(--dark);
  border-radius: 10px;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;

}

.bouton_purple:hover{
  background-color: var(--light);
  color: var(--dark);
  border: solid 1px var(--dark);
  
}

.hidden{
  display: none;
}

.retour{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Section profile picture + quote in profil.html */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;;
  margin-bottom: 30px;;
  min-width: 250px;
}

.profile-picture {
 width: 60%;
 height: auto;
 border-radius: 50%;
 margin-bottom: 30px;;
}

#anecdote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

q {
   font-size: 1.5rem;
   margin-bottom: 20px;
   color: white;
   font-weight: bold;
}

 #buttonAnecdote {
   width: 200px;
   padding: 10px;
   border-radius: 10px;
}

  /* Section accordion style - commun -*/

  button:hover {
    background-color: var(--dark);
    color: white;
    transition: 0.4s;
 }
 
 .grid-items {
    background-color: var(--light);
    display: none;
    padding: 30px;
    font-size: 1.5em;
    border-radius: 0;
 }

 .accordion {
  font-size: 1.5em;
  border-radius: none;
  background-color: var(--light);
}

 /* class visible makes the accordion to show the correct grid-item */

.visible {
  display: block;
}

/* Figure Elt in Fun section */
.perso {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.persoLegend {
  margin-top: 10px;
  font-size: 1.4rem;
}

#character {
  width: 50%;
  border-radius: 10px;
}

/* logo contacts */

#conteneurLogoSNS{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

#conteneurLogoSNS li {
  list-style: none;
}

.logoSNS {
  width: 50px;
  height: auto;
  padding: 15px;
}

.question {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.promo{
  color: white;
  font-size: 4rem;
  text-align: center;
  font-family: 'Karla', sans-serif;
}


/*======style trombino=====*/


.formateur{
  display:flex;
  justify-content: space-around;
  max-width: 600px;
  width: 80%;
  height: auto;
  margin: 40px auto;
  background-color: var(--light);
  border-radius: 20px;
  align-items: center;
}

.romain{
  width:80%;
  border-radius: 20px 0 0 20px;
  min-width: 163px;
}

.legendeRomain{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
  color: var(--dark);
  text-align: center;
  margin-right: 50px;
}

.lienRomain{
  display: flex;
  align-items: stretch;
}


.grid {
  max-width: 1422px;
  width: 80%;
  height: auto;  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 60px;
  border-radius: 20px;
  background: var(--light);
  margin:4rem auto;
  padding: 1rem;
  justify-content: center;
  min-width: 320px;
}

.trombino{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--light);
}

figure.trombino>a{
  display: flex;
  justify-content: center;
}

.grid_img{
  justify-content: center;
  border-radius: 50%;
  width:80%;
  max-width: 280px;
  min-width: 130px;
  margin-bottom: 15px;
}

.legend{
  font-size: 1rem;
  font-weight:bold;
  color:var(--dark);
  text-align: center;
}


/* ============Footer style=============*/

footer  {
  margin-top: 30px;
  margin-bottom: 0;
  height : 50px;
  background-color: var(--darkHeadFoot);
  color: white;
}

.footer{
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0;
}
